In [1]:
students = ['anton', 'Nadi', 'marina', 'Zoom user']
students2 = []

for student in students:
    students2.append(student.capitalize())

students2

['Anton', 'Nadi', 'Marina', 'Zoom user']

In [2]:
students

['anton', 'Nadi', 'marina', 'Zoom user']

In [4]:
students[0] = students[0].capitalize()
students

['Anton', 'Nadi', 'marina', 'Zoom user']

In [8]:
for i in range(len(students)):
    students[i] = students[i].capitalize()
students

['Anton', 'Nadi', 'Marina', 'Zoom user']

In [9]:
students = ['anton', 'Nadi', 'marina', 'Zoom user']

for student in students:
    print(student)

anton
Nadi
marina
Zoom user

На карантині я розпочав бігові тренування. В перший день пробіг 500 метрів.
    Кожний наступний день дистанцію збільшую на 10%. Відомо, що карантин триває 30 днів.
    
        - Яку дистанцію я пробіжу в останній день карантину?
        
        - Скільки днів потрібно бігати, щоб сумарна дистанція за всі дні 
            перевищила довжину марафону (42 км)?

In [12]:
l = 500 
qtyDays = 30 

for i in range(1, qtyDays+1):
    print(f'День {i}, відстань {round(l)}')
    l = l*1.1

День 1, відстань 500
День 2, відстань 550
День 3, відстань 605
День 4, відстань 666
День 5, відстань 732
День 6, відстань 805
День 7, відстань 886
День 8, відстань 974
День 9, відстань 1072
День 10, відстань 1179
День 11, відстань 1297
День 12, відстань 1427
День 13, відстань 1569
День 14, відстань 1726
День 15, відстань 1899
День 16, відстань 2089
День 17, відстань 2297
День 18, відстань 2527
День 19, відстань 2780
День 20, відстань 3058
День 21, відстань 3364
День 22, відстань 3700
День 23, відстань 4070
День 24, відстань 4477
День 25, відстань 4925
День 26, відстань 5417
День 27, відстань 5959
День 28, відстань 6555
День 29, відстань 7210
День 30, відстань 7932

In [14]:
# dist = 500
# day = 1

# while dist < 42000:
#     print(f'День {day}, відстань {round(dist)}')
#     #print(day, dist)
#     dist = dist * 1.1
#     day += 1

# day

In [15]:
dist = 500
day = 1

while day <= 30:
    print(f'День {day}, відстань {round(dist)}')
    dist = dist * 1.1
    day += 1

dist

День 1, відстань 500
День 2, відстань 550
День 3, відстань 605
День 4, відстань 666
День 5, відстань 732
День 6, відстань 805
День 7, відстань 886
День 8, відстань 974
День 9, відстань 1072
День 10, відстань 1179
День 11, відстань 1297
День 12, відстань 1427
День 13, відстань 1569
День 14, відстань 1726
День 15, відстань 1899
День 16, відстань 2089
День 17, відстань 2297
День 18, відстань 2527
День 19, відстань 2780
День 20, відстань 3058
День 21, відстань 3364
День 22, відстань 3700
День 23, відстань 4070
День 24, відстань 4477
День 25, відстань 4925
День 26, відстань 5417
День 27, відстань 5959
День 28, відстань 6555
День 29, відстань 7210
День 30, відстань 7932

8724.70113444322

In [17]:
# A = A0(1 + %)**qtyDays
l = 500 
qtyDays = 30 

distance = l*(1 + 0.1)**29
distance

7931.546485857476

In [20]:
new_list = [0, 1, 2, 3, 6, 10, 11, -25]

max(new_list)

11

In [19]:
max_number = new_list[0]

for i in new_list:
    if max_number < i:
        max_number = i
max_number

11

In [21]:
new_list = [0, 1, 2, 3, 6, 10, 11, -25]

sum(new_list)

8

In [23]:
new_list = [0, 1, 2, 3, 6, 10, 11, -25]

list_sum = 0

for i in new_list:
    #list_sum = list_sum + i
    list_sum += i
list_sum

8

In [24]:
new_list = [1, 2, 3, 6, 10, 11, -25]

list_mult = 1

for i in new_list:
    #list_sum = list_sum + i
    list_mult *= i
list_mult

-99000

In [29]:
DB = {}

while True:
    input_info = input('Хто перетинає кордон: ')
    
    if input_info == 'END':
        break
    
    if input_info in DB:
        DB[input_info] += 1
    else:
        DB[input_info] = 1
    #DB[input_info] = DB.get(input_info, 0) + 1

print(DB)

Хто перетинає кордон: Ihor
Хто перетинає кордон: Oleg
Хто перетинає кордон: Ihor
Хто перетинає кордон: Oleg
Хто перетинає кордон: END
{'Ihor': 2, 'Oleg': 2}

In [33]:
for i in range(10):
    if i > 5:
        continue 
    print(i)

0
1
2
3
4
5